.sweet-nav {
    background-color: white !important;
    border: none !important;
    text-align: center;
}

.ribbon-brand {
    height: 100px;
    padding-top: 20px;
}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar-nav>li>a{
    margin-top: 50px;
    }
}


.logo {
    width: 150px;
    padding-top: 5px;
    margin-bottom: -75px;
}

.nav-right {
    float: right !important;
}

.nav-left {
    float: left;
}

.banner {
    background-image: url("cupcakesback.jpg");
    height: 400px;
    background-size: 100%;
}