body {
    font-family: "Lobster" !important;
}

.sweet-nav {
    background-color: white !important;
    border: none !important;
    text-align: center;
    font-size: 17px;
}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar-nav>li>a{
    margin-top: 50px;
    }
}

@media (max-width: 870px) {

    .navbar-nav>li>a {
            padding-left: 8px !important;
    padding-right: 8px !important;
    }
}

@media (max-width: 768px) {

    .pink {
        background-color: #f8e8ff;
        padding: 10px !important;
    }
}

.logo {
    width: 150px;
    padding-top: 5px;
    margin-bottom: -75px;
}

.logo-md {
    width: 75px;
    margin-top: 100px;
    margin-bottom: -100px;
    margin-right: -34px;
    margin-left: -34px;
}

.logo-sm {
    width: 75px;
    margin-top: -25px;
    margin-bottom: -100px;
}

.nav-right {
    float: right !important;
}

.nav-left {
    float: left;
}

.banner {
    background-image: url("cupcakesback.jpg");
    background-repeat: no-repeat;
    height: 450px;
    background-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-border {
    background-image: url("upperborder.png");
    background-repeat: repeat-x;
    height: 16px;
    background-size: 2.5%;
    width: 100%;
    min-width: 1280px;
}

.lower-border {
    background-image: url("lowerborder.png");
    background-repeat: repeat-x;
    height: 13px;
    background-size: 2.5%;
    align-self: flex-end;
    width: 100%;
    min-width: 1280px;
}

.main-banner-text {
    color: white;
    text-align: center;
    font-size: 50px;
}

.banner-divider {
    border-bottom: 1px solid white;
    padding-bottom: 0px;
    padding-right: 250px;
    padding-left: 250px;
}

.sub-banner-text {
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: "Courgette";
    padding-top: 30;
    padding-right: 50px;
    padding-left: 50px;
}